
{% extends 'base.html' %} {% block content %}

<div class="container">
<h1 class="adjust">Workout Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ workout.name }}</span>
        <p>Description: {{ workout.description }}</p>
        <p>Length: {{ workout.length }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'workouts_update' workout.id %}">Edit</a>
        <a href="{% url 'workouts_delete' workout.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_history' workout.id %}" method="post">
        {% csrf_token %} {{ history_form.as_p }}
        <input type="submit" class="btn" value="Log Workout" />
      </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for history in workout.history_set.all %}
        <tr>
          <td>{{history.date}}</td>
          <td>{{history.time}}</td>
          <td>{{history.notes}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  <hr />
  <div class="row">
    <div class="col s6">
      <h3>{{ workout.name }}'s Exercises</h3>
      {% if workout.exercises.count %} 
      {% for exercise in workout.exercises.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <p>{{ exercise.name }}</p>
          </span>
        </div>
      </div>
      {% endfor %} 
      {% else %}
      <h5>No Exercises. Add one to get active.</h5>
      {% endif %}
    </div>
<!-- Available exercises will come after this line -->
<div class="col s6">
  <h3>Available Exercise</h3>
  {% if exercises.count %}
    {% for exercise in exercises.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <p>{{ exercise.name }}</p>
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_exercise' workout.id exercise.id %}" method="post"> 
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{workout.name}} Already Has All Exercises Available</h5>
  {% endif %}
</div>
</div>
<script>
var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}
