{% extends 'base.html' %} {% block content %} 
<!-- our about info will go into the body, as an extension of our base template -->
    <div class="main-about">
<h1>About JRNY</h1>
    <hr/>
    <h4>Our story is your story.</h4>
</div>
<div class="card-container">
    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
                <img src="https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80">
        
            </div>
            <div class="card-content">
              <p>No matter where you are in your JRNY, we are here to help. Growth and progress over everything.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
                <img src="https://images.unsplash.com/photo-1604233064722-eb8724ed8845?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
        
            </div>
            <div class="card-content">
              <p>Everyone has to start somewhere. Using JRNY, you can track your beginning and celebrate your destination.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1973&q=80">
             
            </div>
            <div class="card-content">
              <p>Comparison is the killer of growth. With JRNY, compete with only yourself.</p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}

